@import "tailwindcss";

@plugin "daisyui";

@theme {
  --color-background: #E3EEB2;   /* Deep Emerald - Main backgrounds */
  --color-secondary: #047857; /* Rich Emerald - Secondary elements */
  --color-btn: #71C0BB;    /* Bright Emerald - Highlights and buttons */
  --color-light: #4E6688;     /* Light Emerald - Card backgrounds */
  --color-text: #332D56;     /* Mint Cream - Primary text */
}